<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans
                               http://www.springframework.org/schema/beans/spring-beans.xsd">
                         
                               
  <bean id="Department" class="com.wipro.model.Department">
   <property name="deptCode"  value="Fin" />
    <property name="departmentName"  value="Finance" />
  </bean>
  <bean id="College" class="com.wipro.model.College">
  
  <constructor-arg value = "VVIT"/>
  <constructor-arg ref= "Department"/>
  </bean>
  
</beans>
 
 
 